<header class="topArea">
    <div class="topLeft">
        <div><a href="#"><img src="./img/logo.png" alt="띠또 로고"></a></img></div>
    </div>
    <div class="topCenter">
        <ul class="depth1">
            <li><a href="#">BRAND</a></li>
            <li><a href="#">SHOP</a>
                <ul class="depth2">
                    <li><a href="#">BEST</a></li>
                    <li><a href="#">NEW</a></li>
                    <li><a href="#">OUTER</a></li>
                    <li><a href="#">TOP</a></li>
                    <li><a href="#">BOTTOM</a></li>
                    <li><a href="#">DRESS</a></li>
                    <li><a href="#">ACCESSORY</a></li>
                    <li><a href="#">PROMOTION</a></li>
                </ul>
            </li>
            <li><a href="#">COMMUNITY</a>
                <ul class="depth2">
                    <li><a href="#">NOTICE</a></li>
                    <li><a href="#">REVIEW</a></li>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="#">EVENT</a></li>
                </ul>
            </li>
            <li><a href="#">SIGN IN</a>
                <ul class="depth2">
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/join">JOIN US</a></li>
                    <li><a href="#">ORDER</a></li>
                    <li><a href="#">CART 0</a></li>
                </ul>
            </li>
            <li><a href="#">CART</a></li>
        </ul>
    </div>
    <div class="topRight">
        <form action="">
            <input value type="hidden">
            <fieldset>
                <legend>검색</legend>
                <label for="search">search</label>
                <input type="text" id="search">
                <input type="image" src="./img/pc_searchicon.png" class="searchIcon">
            </fieldset>
        </form>
    </div>
</header>