@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

body {
  font-family: "Red Hat Mono", monospace;
}

/* header start */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 5px 0 12px rgb(199, 199, 199);
  z-index: 99999;
}
.topArea {
  height: 88px;
  display: flex;
  justify-content: space-between;
}
.topArea > div {
  padding: 30px;
}

.topCenter {
  margin: 5px 0;
}
.topCenter > ul {
  display: flex;
  justify-content: space-between;
}
.topCenter .depth1 > li {
  height: 55px;
  letter-spacing: -1px;
  padding-left: 55px;
}
.topCenter .depth1 > li:hover > a {
  opacity: 0.5;
  transition: 0.5s;
}
.topCenter .depth1 > li:hover .depth2 {
  display: block;
}
.topCenter .depth1 > li:nth-child(1) {
  padding-left: 150px;
}
.topCenter .depth2 {
  background: #fff;
  color: black;
  position: absolute;
  top: 100%;
  display: none;
}
.topCenter .depth2 > li:first-child {
  border-top: 1px solid #000;
}
.topCenter .depth2 > li {
  width: 140px;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #000;
}
.topCenter .depth2 > li:hover > a {
  color: lightslategray;
}
.topCenter .depth2 > li:hover {
  background: rgb(246, 246, 246);
}
.topCenter .depth2 > li > a {
  width: 100%;
  padding: 10px;
  display: inline-block;
}

legend {
  display: none;
}
.topRight fieldset {
  border: 1px solid #000;
  border-radius: 50px;
  height: 35px;
  padding-top: 6px;
}
.topRight label {
  letter-spacing: -1px;
  padding: 15px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
}
.topRight input {
  border: none;
  padding-right: 15px;
}

.topRight #search {
  width: 100px;
}
.topRight .searchIcon:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* header finish */

/* login start */
.login {
  padding: 290px 0;
  margin: 0 auto;
  width: 372px;
}
.login > h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 65px;
}
.login > fieldset {
  font-size: 12px;
}
.login > fieldset > p {
  margin-bottom: 10px;
}
.login > fieldset > label > input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
}
.login > fieldset > label > input::placeholder {
  color: lightgray;
}
.login > fieldset > a {
  background-color: rgb(71, 71, 71);
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  display: block;
  padding: 15px;
  text-align: center;
  margin: 25px 0;
}
.login > fieldset > ul {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.login > fieldset > ul > li {
  border-right: 1px solid gray;
  padding: 0 10px;
}
.login > fieldset > ul > li:last-child {
  border-right: none;
  padding: none;
}

/* login finish */
